header{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    position: fixed;
}
a{
    text-decoration: none;
    margin: 10px;
}


footer{
    text-align: center;
    padding: 15px;
}
img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/814/441/small/sunset-on-sky-free-photo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
